.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 900px;

  .progress {
    width: 400px;
    height: 400px;
    margin-right: 100px;

    .timer {
      font-size: 5rem;
      text-shadow: 4px 4px 4px black, 8px 8px 4px black;
    }

    svg {
      filter: drop-shadow(10px 10px 5px black);
    }
  }

  .playerList {
    max-height: 600px;
  }

}