@import "../../../../variables";

.tabList {
  border-bottom: 1px solid white;
  height: 30px;
  display: flex;

  .tabButton {
    background: transparent;
    text-align: center;
    width: 100px;
    color: white;
    padding: 3px 8px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px 5px 0 0;

    &[aria-selected=true] {
      background-color: $lowlight;
      font-weight: bold;
    }
  }
}
.tabContent {
  padding: 15px 0;
}



.table {
  background-color: transparent;

  thead {
    text-align: center;
    font-weight: 500;
  }

  th {
    text-align: center !important;
  }

  th, td {
    border: 1px solid white !important;
    padding: 3px 10px;
    color: white !important;
  }

  .connectedIcon {
    margin-right: 10px;
  }

  td.player {
    min-width: 120px;
  }
  td.score {
    width: 80px;
    text-align: right;
  }
  td.scoreTopic {
    width: 60px;
    padding: 0;
    text-align: center;
  }

  th.topicCell {
    padding: 0;
  }

  .iconButton {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;

    &:hover {
      color: $highlight;
    }
    &[disabled] {
      color: $lowlight;
      cursor: not-allowed;
    }
  }
}

.adminTable {
  .currentAdmin {
    font-weight: 700;
  }
}
