:root {
    --background: #2a2a2a;
    --background-contrast: #DDD;
    --text: #b1b7ff;
    --punctuation: #aed5ff;
    --keyword: #bc79ff;
    --operator: #ff78af;
    --token: #41ad8f;
    --comment: #9badb7;

    --lines-backgound: #494949;
    --lines-backgound-contrast: #DDD;
}

.codeflask__lines {
    background-color: var(--lines-backgound);
    color: var(--lines-backgound-contrast) !important;
}

.codeflask {
    background: var(--background);
    color: var(--text);
}

.codeflask__textarea {
    color: var(--background) !important;
    caret-color: var(--background-contrast) !important;
}

.codeflask .token.punctuation {
    color: var(--punctuation);
}
.codeflask .token.keyword {
    color: var(--keyword);
}
.codeflask .token.operator {
    color: var(--operator);
}
.codeflask .token.string {
    color: var(--token);
}
.codeflask .token.comment {
    color: var(--comment);
}
.codeflask .token.function {
    color: var(--keyword);
}
.codeflask .token.boolean {
    color: var(--keyword);
}
.codeflask .token.number {
    color: var(--keyword);
}
.codeflask .token.selector {
    color: var(--keyword);
}
.codeflask .token.property {
    color: var(--keyword);
}
.codeflask .token.tag {
    color: var(--keyword);
}
.codeflask .token.attr-value {
    color: var(--keyword);
}