@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .playerList {
    width: 100%;
    max-height: 600px;
    overflow: auto;
    padding-top: 2px;

    .player {
      width: 100%;
      border: 1px solid white;
      margin-top: -1px;
      display: flex;
      align-items: center;
      padding: 3px 10px;

      .position {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        text-align: right;
        margin-right: 10px;
        font-weight: 700;
        padding: 3px 8px;
        background-color: $lowlight;
        font-size: 14px;
        text-shadow: 0 0 1px black, 1px 1px 0 black;
      }

      .position1 { background-color: $gold-medal; }
      .position2 { background-color: $silver-medal; }
      .position3 { background-color: $bronze-medal; }

      .highlightPosition {
        animation: 0.7s highlightPositionAnimation forwards ease;
        animation-delay: 1s;
      }

      @keyframes highlightPositionAnimation {
        0% { font-size: 14px; text-shadow: 0 0 1px black, 1px 1px 0 black; }
        50% { font-size: 22px; text-shadow: 0 0 3px black, 3px 3px 0 black; }
        100% { font-size: 14px; text-shadow: 0 0 1px black, 1px 1px 0 black; }
      }

      .playerResult {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 10px;
        height: 50px;

        .name {
          flex: 1;
          font-size: 1.2rem;
          font-weight: 700;

        }
        .localPlayer {
          color: $highlight;
          fill: $highlight;
        }

        .addedPoints {
          font-size: 1rem;
          color: $ok-test-color;
          font-weight: 500;
          margin-right: 20px;
          animation: 0.7s fadeInDown forwards;
        }

        @keyframes fadeInDown {
          from {
            transform: rotate(0deg) translateY(30px);
            opacity: 0;
          }
          to {
            transform: rotate(-15deg) translateY(0px);
            opacity: 1;
          }
        }

        .score {
          font-size: 1.2rem;
          font-weight: 700;
          width: 60px;
          text-align: right;
        }
      }
    }
  }
}