.table {
  background-color: transparent;

  thead {
    text-align: center;
    font-weight: 500;
  }

  th {
    text-align: center !important;
  }

  th, td {
    border: 1px solid white !important;
    padding: 3px 10px;
    color: white !important;
  }

  .connectedIcon {
    margin-right: 10px;
  }

  td.player {
    min-width: 200px;
  }
  td.score {
    width: 100px;
    text-align: right;
  }
  td.scoreTopic {
    width: 60px;
    text-align: right;
  }
}