@import "../../variables.scss";

.content {
  border: 1px solid white;
  background-color: $background;
  padding: 15px;
}

.actions {
  margin-top: 10px;
  text-align: right;

  button {
    margin-left: 10px;
  }
}