@import "../../../variables.scss";

.list {
  list-style-type: decimal-leading-zero;

  li {
    height: 60px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid $border-color;
    counter-increment: item;

    .wrappingButton {
      padding: 5px 15px;
      display: flex;
      border: none;
      width: 100%;
      height: 100%;
      cursor: pointer;
      align-items: center;
      background-color: transparent;
      color: white;
      font-size: 16px;

      .numero {
        margin-right: 10px;
        background: $details-example-background;
        border-radius: 4px;
        width: 35px;
        padding: 5px;
        font-weight: 700;
        text-align: center;
        display: inline-block;
      }

      .testName {
        flex: 1;

        .outdated {
          margin-left: 5px;
        }
      }
    }
  }
}

.unitTest {
  &.isSuccess .wrappingButton, .isSuccess .wrappingButton {
    color: $ok-test-color !important;
  }
  &.isFailure .wrappingButton, .isFailure .wrappingButton {
    color: $ko-test-color !important;
  }

  &.selected {
    background-color: $highlight-background;
  }

  .button, .button:hover, .button[disabled] {
    background-color: $details-example-background;
    color: white;
    height: 40px;
    width: 40px;
  }

  .isProgress {
    cursor: wait;
  }

}