@import "../../../../variables.scss";

.title {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-bottom: 10px;

  svg {
    margin-right: 10px;
  }
}

.player {
  white-space: nowrap;
  width: 100%;
  display: flex;
  margin-bottom: 10px;

  .completionContainer {
    width: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;

    .completion {
      font-size: 12px;
      line-height: 22px;
      font-weight: 700;
    }

    .duration {
      font-size: 12px;
      font-weight: normal;
    }
  }

  .duration {
    font-size: 12px;
    line-height: 12px;
    width: 40px;
    text-align: center;
    font-style: italic;
    color: $lowlight;
  }

  .codeLength {
    font-size: 12px;
    line-height: 22px;
    width: 40px;
    text-align: center;
    font-style: italic;
  }

  svg {
    margin: 3px 5px;
    vertical-align: middle;
  }

  .info {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;

    & > div {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .name {
      font-weight: 500;
    }

    .status {
      font-style: italic;
      color: $lowlight;
      font-size: 14px;
      line-height: 12px;
    }
  }
}