@import "../../../variables.scss";

.usernameDialogWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  background-color: rgba(104, 104, 104, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.usernameDialog {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background;
  border: 1px solid white;
  padding: 15px 35px 25px 35px;
}

.title {
  font-size: 30px;
  margin-bottom: 30px;
}

.input {
  font-size: 40px;
  width: 520px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $highlight;
  color: $highlight;
  outline: 0;
  text-align: center;
}

.input[disabled] {
  border-bottom: 1px solid $lowlight;
  color: $lowlight;
}