$background: #222;

$highlight: #e08d00;
$highlight-contrast: #242424;
$timer: #3a7bc2;
$timer-ending: #d54d4d;
$lowlight: #959595;

$border-color: #8e8e8e;
$details-background: #323232;
$details-example-background: #4c4c4c;

$all-test-color: #5cb64e;
$submit-solution-color: #d09667;
$ok-test-color: #5cb64e;
$ko-test-color: #e77b7b;
