@import "../../variables.scss";

.gamePage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;

  & > section > * {
    padding: 0 15px;
  }

  .upperSection {
    flex: 3;
    display: flex;
    flex-direction: column;

    .upperSectionContent {
      flex: 1;
      display: flex;
      gap: 20px;
    }

  }

  .lowerSection {
    flex: 1;
    display: flex;

    .lowerSectionContent {
      flex: 1;
      display: flex;
      gap: 20px;

      .output {
        flex: 1;
        border: 1px solid $border-color;
        display: flex;
        min-height: 0;
        height: calc(25vh - 6px);

        .otherPlayers {
          background-color: $details-background;
          flex: 1;
          padding: 5px 15px;
          min-width: 0;
          overflow: auto;
        }

        .outputConsole {
          flex: 2;
          padding: 5px 15px;
          overflow: auto;
        }
      }



      .unitTests {
        flex: 1;
        border: 1px solid $border-color;
        display: flex;
        height: calc(25vh - 6px);

        .unitTestsList {
          flex: 2;
          overflow: auto;
        }

        .unitTestsActions {
          flex: 1;
          border-left: 1px solid $border-color;

          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          padding: 0 5px;

          button {
            width: 100%;
            background-color: $details-example-background;
            font-size: 1.4rem;

            svg {
              margin-right: 15px;
            }
          }
        }
      }

      .adminControls {
        flex: 1;
        border: 1px solid $border-color;
        display: flex;
        height: calc(25vh - 6px);

        button {
          width: 100%;
          background-color: $details-example-background;
          font-size: 1.4rem;
          color: white;

          svg {
            margin-right: 15px;
          }
        }
      }
    }
  }
}