@import "../../variables.scss";

.gamePage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;

  /* ---- Override Bulma settings ---- */
  pre {
    background-color: transparent;
    color: unset;
  }

  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  hr {
    height: 1px;
    background-color: $lowlight;
  }

  .notification.is-success.is-light {
    background-color: #d1ffea;
  }
  .notification.is-danger.is-light {
    background-color: #ffe0e7;
  }

  .number {
    align-items: unset;
    background-color: unset;
    border-radius: unset;
    display: unset;
    font-size: unset;
    height: unset;
    justify-content: unset;
    margin-right: unset;
    min-width: unset;
    padding: unset;
    text-align: unset;
    vertical-align: unset;
  }
  /* ---- END Override Bulma settings ---- */

  & > section > * {
    padding: 0 15px;
  }

  .upperSection {
    flex: 3;
    display: flex;
    flex-direction: column;

    .upperSectionContent {
      flex: 1;
      display: flex;
      gap: 20px;
    }

  }

  .lowerSection {
    flex: 1;
    display: flex;

    .lowerSectionContent {
      flex: 1;
      display: flex;
      gap: 20px;

      .output {
        flex: 1;
        border: 1px solid $border-color;
        display: flex;
        min-height: 0;
        height: calc(25vh - 6px);

        .otherPlayers {
          background-color: $details-background;
          flex: 1;
          padding: 5px 15px;
          min-width: 0;
          overflow: auto;
        }

        .outputConsole {
          flex: 2;
          padding: 5px 15px;
          overflow: auto;
        }
      }



      .unitTests {
        flex: 1;
        border: 1px solid $border-color;
        display: flex;
        height: calc(25vh - 6px);

        .unitTestsList {
          flex: 2;
          overflow: auto;
        }

        .unitTestsActions {
          flex: 1;
          border-left: 1px solid $border-color;

          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          padding: 0 5px;

          button {
            width: 100%;
            background-color: $details-example-background;
            font-size: 1.4rem;

            svg {
              margin-right: 15px;
            }
          }
        }
      }

      .adminControls {
        flex: 1;
        border: 1px solid $border-color;
        display: flex;
        height: calc(25vh - 6px);

        button {
          width: 100%;
          background-color: $details-example-background;
          font-size: 1.4rem;
          color: white;

          svg {
            margin-right: 15px;
          }
        }
      }
    }
  }
}